/* Font-size */
/* Mobile-12 Tablet-18 Desktop-24 */

/* font-size Mobile */
/* 10, 13, 14, 16, 17, 21, 24, 27, 34, 44 */
/* font-size Desktop */
/* 16, 21, 24, 27, 34, 44, 65, 105 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.hight-100-percentage {
	height: 100%;
}
.width-100-percentage {
	width: 100%;
}

.flex-child-page-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Variable declarations */
:root {
	--spacing: 8px;
	--primaryColor: #00c880;
	--secondaryColor: #4e4e4e;
	--tertiaryColor: #959595;
}
/* h1 */
.font-size-larger {
	font-size: 22px;
	letter-spacing: 0.09em;
}
/* h2 */
.font-size-large {
	font-size: 20px;
	letter-spacing: 0.09em;
}
/* h3 */
.font-size-medium {
	font-size: 18px;
	letter-spacing: 0.09em;
}
/* h4 */
.font-size-default {
	font-size: 16px;
	letter-spacing: 0.09em;
}
/* h5 */
.font-size-small {
	font-size: 14px;
	letter-spacing: 0.09em;
}
/* h6 */
.font-size-smaller {
	font-size: 12px;
	letter-spacing: 0.09em;
}

button {
	cursor: pointer;
}

@keyframes scale_up {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

@media screen and (min-width: 700px) {
	.font-size-larger {
		font-size: 28px;
	}
	.font-size-large {
		font-size: 26px;
	}
	.font-size-medium {
		font-size: 24px;
	}
	.font-size-default {
		font-size: 22px;
	}
	.font-size-small {
		font-size: 20px;
	}
	.font-size-smaller {
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px) {
	.font-size-larger {
		font-size: 34px;
	}
	.font-size-large {
		font-size: 32px;
	}
	.font-size-medium {
		font-size: 30px;
	}
	.font-size-default {
		font-size: 28px;
	}
	.font-size-small {
		font-size: 26px;
	}
	.font-size-smaller {
		font-size: 24px;
	}
}
